.window-c{
    width: 16rem;
    height: 8.5rem;
    position: absolute;
    right: 27rem;
    bottom: 5rem;
    cursor: pointer;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.window-c:before {
    content: "";
    background: url(../images/a/window-bottom-shadow.png);
    width: 100%;
    height: 15%;
    display: block;
    position: absolute;
    bottom: 0;
    background-size: 100% 100%;
    z-index: 1;
}


/**
 * 底边阴影
 * @type {[type]}
 */

.window-c:after {
    content: "";
    background: url(../images/a/window-bottom.png);
    width: 100%;
    height: 10%;
    display: block;
    position: absolute;
    bottom: 5%;
    background-size: 100% 100%;
    z-index: 1;
}

.window-scene-bg{
    top: 0;
    left:10%;
    width: 80%;
    height: 85%;
	background-image: url(../images/c/window-scene-bg.png); 
	background-position: 100% 100%;
	position: absolute;
	z-index: -1;
	-webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
}

.window-close-bg{
    bottom: 13%;
    left:35%;
    width: 30%;
    height: 59%;
	background-image: url(../images/c/window-close-bg.png); 
	background-position: 100% 100%;
	position: absolute;
	z-index: 1;
	-webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    opacity: 0;
}

.window-content-c{width: 100%; height: 100%;z-index: 2;}

.window-left-c,
.window-right-c {
    position: absolute;
    width: 40%;
    height: 86%;
    z-index: 0;
    box-shadow: 0 0 0.75rem #FCF0BC;
    background-size: 100% 100%;
}
.window-left-c{
    left: 6%;
    background-image: url(../images/a/window-left.png);
    -webkit-border-top-left-radius: 0.5rem;
    -moz-border-top-left-radius: 0.5rem;
    -webkit-transform: scale(0.95) rotateY(60deg);
    -moz-transform: scale(0.95) rotateY(60deg);
}
.window-right-c{
    right: 6%;
    background-image: url(../images/a/window-right.png);
    -webkit-border-top-right-radius: 0.5rem;
    -moz-border-top-right-radius: 0.5rem;
    -webkit-transform: scale(0.95) rotateY(-60deg);
    -moz-transform: scale(0.95) rotateY(-60deg);
} 

.window-transition-c {
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
}

.window-left-c.close {
    -webkit-transform: scale(1) rotateY(0deg);
    -moz-transform: scale(1) rotateY(0deg);
	left: 10%;
}

.window-right-c.close {
    -webkit-transform: scale(1) rotateY(0deg);
    -moz-transform: scale(1) rotateY(0deg);
    right: 10%;
}

#snowflake{
    position:absolute;
    left:0;
    top:0;
    z-index: 999999;
}

.deer{	
    width: 20rem;
    height: 7rem;
    z-index: 1;
    position: absolute;
    bottom: 1rem;
    right: 18rem;
    background-size: 400% 100%;
    background-image: url(../images/c/deer.png);
}
.chs-deer{
    -webkit-animation:boyAnim  0.5s steps(4) infinite;
}
@-webkit-keyframes boyAnim{
    0% { background-position: 0 100%}
    100% {background-position: -400% 100%}
}